Lab/algorithms/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerCircleInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="MSISDN"/>
        <xs:element type="xs:byte" name="Status"/>
        <xs:element type="xs:string" name="Customer"/>
        <xs:element type="xs:string" name="Circle"/>
        <xs:element type="xs:byte" name="LRN"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>